spring:
  datasource:
    url: jdbc:postgresql://localhost:5432/job_tracker
    username: postgres
    password: process.env.YOUR_POSTGRESQL_PASSWORD

  jpa:
    hibernate:
      ddl-auto: update
    show-sql: true
    open-in-view: false
    properties:
      hibernate:
        dialect: org.hibernate.dialect.PostgreSQLDialect
        format_sql: true

server:
  port: 8080
